*

# Needed for retrieving the version number
!.git

!/stack.yaml
!/docker-stack.yaml

!/tasklite
/tasklite/.stack-work

!/tasklite-core
/tasklite-core/.stack-work

!/tasklite-app
/tasklite-app/.stack-work
