*

# Needed for retrieving the version number
!.git

!/stack.yaml
!/docker-stack.yaml

!/huzzy
/huzzy/huzzy.cabal

!/tasklite-core
/tasklite-core/.stack-work

!/tasklite-server
/tasklite-server/.stack-work
